*/bin/
.DS_Store
*/.DS_Store
/.idea/.gitignore
/.idea/afplib.iml
/.idea/checkstyle-idea.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
